/*teinte la petite marge de chaque côté du contenaire centrale*/
body {
    background-color: #f8f9fa;
}

/* agrandire la marge en dessous du logo entête */
.list-group {
    padding-top: 3%;
}

/*agrandir la marge en dessus du logo entête*/
.row {
    padding-top: 3%;
}

/*changer la police d'écriture*/
body {
    font-family: 'EB Garamond', serif;
}


